## Gather OTLY stock data

In [1]:
# Import required libraries and dependencies
import pandas as pd
import requests
import os
from dotenv import load_dotenv
import alpaca_trade_api as tradeapi

In [2]:
# Load dotenv
load_dotenv()

True

In [3]:
# Set API keys
ALPACA_API_KEY = os.getenv("ALPACA_API_KEY")
ALPACA_SECRET_KEY = os.getenv("ALPACA_SECRET_KEY")

# Make sure keys have imported correctly.
display(type(ALPACA_API_KEY))
type(ALPACA_SECRET_KEY)

str

str

In [4]:
# Create the Alpaca API object
alpaca = tradeapi.REST(
    ALPACA_API_KEY,
    ALPACA_SECRET_KEY,
    api_version="v2")

In [5]:
# Set start and end dates.
start_date = pd.Timestamp("2021-05-20", tz="America/New_York").isoformat()
end_date = pd.Timestamp("2021-06-20", tz="America/New_York").isoformat()

In [6]:
# Define ticker, time frame, and row limit.
ticker = "OTLY"
timeframe = "1D"

In [7]:
# Get OTLY closing prices for the month after IPO.
otly_df = alpaca.get_barset(
    ticker,
    timeframe,
    start = start_date,
    end = end_date
).df

# Display sample data
otly_df

                            OTLY
                            open     high      low   close    volume
time
2021-05-20 00:00:00-04:00  22.12  22.7400  19.9900  20.240  42800807
2021-05-21 00:00:00-04:00  22.20  23.2500  21.4000  22.390  15512845
2021-05-24 00:00:00-04:00  22.61  22.9200  20.5800  20.710   7285441
2021-05-25 00:00:00-04:00  21.29  21.4200  20.1100  21.180   4932242
2021-05-26 00:00:00-04:00  21.57  21.8700  20.9900  21.630   2446139
2021-05-27 00:00:00-04:00  22.38  23.2700  21.8000  22.170   4779462
2021-05-28 00:00:00-04:00  23.04  23.7500  22.6000  23.700   3117904
2021-06-01 00:00:00-04:00  25.10  26.6000  24.5500  25.150   6387881
2021-06-02 00:00:00-04:00  25.79  26.0339  23.6500  23.800   2847697
2021-06-03 00:00:00-04:00  24.13  24.4900  23.4750  23.880   1325948
2021-06-04 00:00:00-04:00  24.01  24.3300  23.7000  23.810   1718048
2021-06-07 00:00:00-04:00  24.36  25.3700  24.1001  24.970   2319804
2021-06-08 00:00:00-04:00  25.04  27.1898  25.0400  26.960   3106554
2021-06-09 00:00:00-04:00  27.39  27.4400  25.5500  26.280   2705177
2021-06-10 00:00:00-04:00  26.50  26.9200  25.5900  26.650   1327991
2021-06-11 00:00:00-04:00  27.00  28.7300  26.5000  28.730   3387380
2021-06-14 00:00:00-04:00  28.85  29.0000  26.3900  27.395   4107651
2021-06-15 00:00:00-04:00  27.71  27.8765  27.1000  27.760   1922734
2021-06-16 00:00:00-04:00  28.00  29.0000  27.2000  27.490   2295482
2021-06-17 00:00:00-04:00  27.80  28.3000  25.6300  26.700   3658879
2021-06-18 00:00:00-04:00  26.26  26.7300  25.2600  25.900   2260065

In [8]:
# Export OTLY dataframe as a CSV
otly_df.to_csv('otly_stock.csv', sep=',')